$main_font: "Poppins", "Open Sans", Helvetica, sans-serif;
$lighter_font: "Poppins Light", "Open Sans", Helvetica, sans-serif;

$main_color: white;
$secondary_color: #878787;
$DcBlue: #0282F9;
$DcDarkGrey: #303030;